body{
    text-decoration: none;
}
.yemei{
    /*对页眉的高度和宽度进行规定 */
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nav{/*设置导航区的高度，位置以及下边界的格式等*/
    height: 41px;
    text-align: center;
    border-bottom: 3px solid #48a8a2;
    background-color:rgb(112, 124, 129);
    line-height: 41px;
}
.nav a{/*导航区内容*/
    text-decoration: none;
    display: inline-block;
    height: 41px;
    font-size: 15px;
    color: whitesmoke;
    padding: 0px 20px;
}
a:visited{
    color:whitesmoke ;
}
a:hover{
    color: aquamarine;
}
img{
    border: 0;
}
audio{
    display: none;
}
.container{
    /*内容大块进行划分*/
    width: 1250px;
    height: 540px;
    background: rgb(112, 124, 129);
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.container .cont_1{
    float: left;
    width: 200px;
    height: 540px;
    background-color: rgb(112, 124, 129);
}
.container .cont_1 a{
    display: block;
    width: 180px;
    height: 90px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    line-height: 90px;
}
.container .cont_1 a:hover{
    background-color: #6db6b2;
}
.container .cont_2{
    float: left;
    width: 1050px;
    height: 540px;
    background-color: gray;
}
.cont_2 .text{
    float: left;
    width: 440px;
}
.cont_2 .text h1{
    color: whitesmoke;
    font-size: 50px;
}
.cont_2 .text p{/*内容颜色字体进行设置*/
    padding-left: 10px;
    font-size: 40px;
    font-weight: 400;
    color: whitesmoke;
    font-style: italic;
}
.picture{
    width: 600px;
    height: 540px;
}
.footer {
    /*页脚的设定*/
    background-color: gray;
    width: 100%;
    height: 45px;
    float: left;
    line-height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.footer p{
    font-size: 10px;
    color: black;
    line-height: 18px;
    text-align: center;
}


