body{
    background-color:gray;
    padding: 10px;
    text-align: center;
}
.college{
    width: 1100px;
    margin: auto;
    text-align: center;
}
.yemei{
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    height: 41px;
    text-align: center;
    border-bottom: 3px solid #48a8a2;
    background-color:rgb(112, 124, 129);
    line-height: 41px;
}
.nav a{
    text-decoration: none;
    display: inline-block;
    height: 41px;
    font-size: 15px;
    color: whitesmoke;
    padding: 0px 20px;
}
.picture{  /*对图片的大小进行控制，保障美观*/
    height: 300px;
    padding-right: 10px;
}
.intro{
    float: left;
    padding-bottom: 20px;
    padding-top: 10px; 
}
.intro h1{
    font-size:20px;
    color:burlywood;
    font-family: "一纸情书";
     border-bottom:2px solid lightblue;
}
.intro .zuel a{
    display: block;
    padding: 20px;
    font-size: 30px;
    color: lavender;
    font-style: italic;
}
.zuel {
    height: 300px;
}
.footer {
    background-color: gray;
    width: 100%;
    height: 45px;
    float: left;
    line-height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer p{
    font-size: 10px;
    color: black;
    line-height: 18px;
    text-align: center;
}

